@charset "utf-8";
/* CSS document */
body {
  background-color: #f6f5f5;
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

section {
  width: 100%;
  height: 95vh;
  background-image: url(image/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #ffffff;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  padding: 0px 5%;
}
nav ul {
  display: flex;
}
nav ul li a {
  margin: 30px;
  font-family: myriad pro regular;
  color: #505050;
  font-size: 15px;
  font-weight: 700;
}
.logo {
  font-family: Copperplate Gothic Light;
  color: #000000;
  font-size: 22px;
}
.active {
  font-weight: bold;
  color: #2d2a2a;
}
.text-conatiner p:nth-child(1) {
  font-family: calibri;
  color: #6d6d6d;
  font-size: 22px;
  font-weight: bold;
}
.text-conatiner p:nth-child(2) {
  font-family: calibri;
  color: #1a1a1a;
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 1px;
}
.text-conatiner p:nth-child(3) {
  font-family: myriad pro regular;
  color: #403e3e;
  font-size: 30px;
  line-height: 30px;
}
.text-conatiner p {
  line-height: 0px;
  margin: 45px 0px 25px;
}
.text-conatiner {
  position: absolute;
  left: 13%;
  top: 42%;
  transform: translate(-13%, -42%);
}
.text-conatiner button {
  width: 130px;
  height: 42px;
  border-radius: 10px;
  font-family: calibri;
  font-size: 14px;
  font-weight: bold;
  outline: none;
  margin: 0px 10px;
}

.hire-btn {
  border: 2px solid #373636;
  color: #373636;
}
.down-cv {
  background-color: #0b0b0b;
  color: #ffffff;
  border: none;
}
button:active {
  transform: scale(1.1);
}
